html {
	height: 100%;
}
body {
	background: url("../image/texturetastic_gray_@2X.png"); 
	height: 95%;
	margin: auto;
	width: 100%;	
}
#Greeting {
	color: #AB0000;
	font-family: Lucida;
	font-size: 50px;
	font-style:oblique;
	margin-bottom: 2%;
	padding: 3%;
	text-align: center;
	text-decoration: underline;
}

.Board {
	color: black;
	font-size: 20px; 
	height: 390px;
	margin: auto;
	text-align: center;
	width: 390px;
}
th, td {
	border: 4px outset #D3D4C4;	
	height: 120px;
	margin: 10px; 
	width: 120px;
}

